#router-container {
    width: 95vw;
    height: 95vh;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
}

#router-container header {
    display: flex;
    flex-direction: column;
}

#router-container header footer {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    align-items: flex-start;
    justify-content: center;
    background:var(--color-box-base);
    border-radius: 0.8rem;
    border: 1px solid var(--color-primary);
}

#router-container header p {
    margin: 1rem;
}

#router-container main {
    flex : 2;
    margin: 1rem;
}

@media(min-width: 1000px) {
    #router-container {
        min-width: 1000px;
        width: 90vw;
        height: 90vh;
        display: flex;
        flex-direction: row;
        border-radius: 0.8rem;
    }
    
    #router-container header {
        display: block;
        flex-direction: column;
        flex: 1;
    }

    #router-container header footer {
        flex: 1;
        margin: 1rem;
        background:var(--color-box-base);
        border-radius: 0.8rem;
        border: 1px solid var(--color-primary);
    }
}
