#form-container {
    flex: 2;
    margin: 1rem;
    background:var(--color-box-base);
    border-radius: 0.8rem;
    border: 1px solid var(--color-primary);
    min-width: 25rem;
}

#form-container section {
    display: flex;
    margin: 2rem;
}

#form-container section button {
    height: 5rem;
    border-radius: 0.8rem;
    font: 700 2.0rem Archivo;

    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    color: var(--color-title-in-primary);
    background: var(--color-primary);
    border: 0;

    transition: background-color 0.2s;
}

#form-container section button:first-child {
    margin-right: 2rem;
}

#form-container section button.button-router {
    flex: 3;
}

#form-container section button.button-router .button-router-icon {
    margin-right: 1rem;
}

#form-container section button.button-add {
    flex: 1;
    min-width: 4rem;
}

#form-container section button.button-add:hover,
#form-container section button.button-router:hover {
    background: var(--color-primary-darker);
}

#form-container .field-block {
    display: flex;
    justify-content: center;
    align-items: center;
}

#form-container .field-block button {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 5rem;
    margin-right: 1rem;
    
    height: 4rem;
    width: 6rem;

    border-radius: 0.8rem;
    border: 0;

    background: var(--color-danger);
    color: var(--color-title-in-primary)
}

@media(min-width: 1000px) {

    #form-container {
        flex: 3;
        margin: 1rem;
        background:var(--color-box-base);
        border-radius: 0.8rem;
        border: 1px solid var(--color-primary);
    }
}